@import "reset";
@import "mixin";
@import "variable";
@import "sprites";

html,body{
  background-color: $c2;
}

.m-count{
  width: 100%;
  height: 100%;
}

i {
  display: inline-block;
}

.full-screen{
  position: absolute;
  height: 100%;
  width: 100%;
}

.max-screen{
  max-height: 100vh;
  width: 100%;
}

.scrolling {
  @extend %scrolling;
}

.vh-center{//水平垂直居中
  @extend %flex-center;
}

.vh-left{//垂直居中-靠左
  @extend %flex-left;
}

.vh-right{//垂直居中-靠右
  @extend %flex-right;
}

.vh-between{//垂直居中-靠两边
  @extend %flex-between;
}

.hide{
  display: none !important;
}