@charset "UTF-8";

@import "colors";

$c0: #000000;
$c1: #ffffff;
$c2: #f7f7f7;
$c3: #f4f4f4;
$c4: #bbbbbb;
$c5: #999999;
$c6: #666666;
$c7: #333333;
$c8: #a08dff;
$c9: #ea58eb;
$c10: #fdfe5a;
$c11: #f0f0f0;
$c12: #60b6ff;
$c13: #9e7cc1;
$c14: #cccccc;
$c15: #ffbb72;
$c16: #efefef;
$c17: #f0eff8;
$c18: #f6f6f6;
$c19: #dddddd;

// 会员卡相关
$c-card-1: $c8;
$c-card-2: #ffc149;
$c-card-3: #60bdfc;
$c-card-4: #ff8059;
$c-card-5: #3dd1bd;