<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="bkhMSWNDa2oWLC9xEnYKR1Z6YQsREj8FWAs.KzotHF82ACcnEBA9DQ==">
    <title>计算器</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta content="telephone=no" name="format-detection"/>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
<!-- <script src="/dist/common/index.js"></script> -->

<div id="app"></div>
<script>
    const options = {};
</script>
<!-- <script src="/dist/index/index.js"></script> -->
</body>
</html>
