@charset 'utf-8';
.m-views-meal {
    .swiper-pagination-bullet{
        background-color: rgba($c2, 0.8);
    }
    .swiper-pagination-bullet-active{
        background-color: $c8;
    }
}
.m-views-meal .content {
    background: $c1;
    .address {
        box-shadow: 0 0 10px rgba(153, 153, 153, 0.1);
    }
    .meal {
        border-bottom: 1px solid $c2;
    }

    .info {
        div:nth-child(2) {
            color: $c5;
        }
        div:nth-child(3) {
            color: $c9;
        }
        .std-price {
            color: $c4;
        }
    }

    .add,
    .reduce {
        color: $c8;
        border: 1px solid $c8;
    }

    .count {
        color: $c6;
    }

    .more {
        background: $c2;
        color: $c4;
        .line{
            @include solid(1px, $c14, bottom);
        }
    }
    .add{
        border-right-color: $c8;
        border-bottom-color: $c8;
    }
    .reduce{
        border-bottom-color: $c8;
    }
}
.m-views-meal .foot{
    background: rgba(255, 255, 255, 0.95);
    .item1>div {
        // border: 1px solid #bbbbbb;
        @include solid(1px, $c4);
        span {
            color: $c4;
        }
    }
    .item2 {
        color: $c9;
        .waitpay {
            color: $c7;
        }
        .service {
            color: $c5;
        }
        .payOrder {
            background: $c8;
            color: $c1;
            box-shadow: 2px 2px 10px rgba($c8, 0.5);
        }
    }
}